
<nav class="navbar navbar-expand-lg bg-success-subtle sticky-top">
    <div class="container-fluid p-3 justify-content-start">
      <a a class="navbar-brand fs-1 fw-lighter text-light me-5 ms-5" href="/" id="header-title">klassy braids</a>
      <button class="navbar-toggler bg-success btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    </div>
    <a class="btn text-bold text-success btn-outline-success bg-light p-1 fw-bold  mb-4 nav-link w-25 me-4 mt-3 text-success fw-bold" id="forminput" href="https://mickel.setmore.com">BOOK NOW</a>
  </nav>
